{
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order",
    "stylelint-config-prettier-scss"
  ],
  "plugins": ["stylelint-order"]
}
